extends ./layout/layout.jade

block header
	include ./partials/header.jade

block sidebar
	include ./partials/sidebar.jade

block education
	include ./partials/education.jade

block experience
	include ./partials/experience.jade

block intern
	include ./partials/intern.jade

block skill
	include ./partials/skill.jade

block description
	include ./partials/description.jade