#border_line1{
  display: flex;
  display: -ms-flexbox;
  width: 100%;
  border-bottom: 1.5pt dashed #222;
}
.experience{
  display: inline-block;
  width: 100%;
  float: left;
  margin: 6px 0 1px 0;
//  border-bottom: 1px dashed #666;
  font-weight: bold;
  .project_name{
    margin: 0 0.5mm 1.5mm -3.0mm;
    font-size: 11pt;
    color: #555;
    text-indent: 15px;
    line-height: 1.5;
    background-color: #f3f3f3;
    border-right: 2.25pt solid #666;
    .projectNameDesc{
      float: right;
      color: #333;
    }
  }
  .project_desc{
    font-family: Tahoma;
    margin: 2mm 0.5mm 1mm 1.0mm;
    font-size: 10pt;
    color: #333;
    line-height: 1.5;
  }
}
